{
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "webextensions": true // 추가
  },
  "globals": {
    "chrome": "readonly" // 추가
  },
  "extends": [
    "react-app",
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "rules": {
    "no-console": "off"
  }
}
