<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tag Management</title>
</head>
<body>
<h1>Tag Manager</h1>

<!-- tag 생성 폼 -->
<form action="/tag" method="POST">
    <label for="tagName">Tag Name:</label>
    <input type="text" id="tagName" name="tagName" required>

    <button type="submit">Create Tag</button>
</form>

<hr>

<!-- Tag 리스트 표시 -->
<h2>Your Tags</h2>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Tag Name</th>
        <th>URL</th>
        <th>User ID</th>
    </tr>
    </thead>
    <tbody>
    <!-- 여기에 서버에서 전송된 태그 리스트 데이터가 표시됩니다. -->
    <tr th:each="tag : ${tagList}">
        <td th:text="${tag.id}"></td>
        <td th:text="${tag.tagName}"></td>
        <td th:text="${tag.user.id}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>