<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tag and Bookmark List</title>
</head>
<body>
<h2>Tag and Bookmark List</h2>

<table>
    <tr>
        <th>Tag ID</th>
        <th>Tag Name</th>
        <th>Bookmarks</th>
    </tr>

    <!-- 태그별로 루프-->
    <tr th:each="tag in ${tags}">
        <td th:text="${tag.id}"></td>
        <td th:text="${tag.name}"></td>

        <!-- 하나의 태그에 속한 북마크 리스트 -->
        <td>
            <ul>
                <!-- 북마크(TagBookmark) 목록을 출력 -->
                <li th:each="bookmark in ${tag.tagBookmarks}" th:text="${bookmark.bookmark.title}"></li>
            </ul>
        </td>
    </tr>
</table>

</body>
</html>